/* .record-button {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  background-color: black; 
  color: white; 
  border: none; 
  font-size: 18px; 
  
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  user-select: none; 
}
.record-button:active {
  background-color: darkred; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.record-button-container {
  position: 'relative';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  width: 150px;
  height: 150px;
  cursor: pointer;
} */
:root {
  /* --main-color: #f857a6; */
  --main-color: #f857a6;
  --second-color: #ff5858;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes triangleStroke {
  from { stroke-dashoffset: 90; }
  to { stroke-dashoffset: 0; }
}

@keyframes smallScale {
  from {
      transform: scale(1);
      opacity: 1;
  }
  to {
      transform: scale(1.5);
      opacity: 0;
  }
}

/* Styles for the play button */
.play-button {
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin-top: 110px;
  cursor: pointer;
}

.play-button-outer-circle, .play-button-outer-circle.has-delay-short {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.play-button-outer-circle.has-scale-animation {
  animation: smallScale 3s infinite;
}

.play-button-outer-circle.has-delay-short {
  animation-delay: 0.5s;
}

.play-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}

.play-button-triangle {
  animation: fadeIn 7s ease;
}

.play-button-path {
  stroke-dasharray: 90;
  stroke-dashoffset: 90;
  animation: triangleStroke 3s ease;
}
/* RecordButton.css */

.record-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust height as needed */
  width: 100%; /* Adjust width as needed */
}

.record-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-top: 100px;
}

.outer-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 9999px; /* or 50% for a circle */
  cursor: pointer;
}

.inner-circle {
  position: absolute;
  width: 90%;
  height: 90%;
  overflow: hidden;
  background-color: #FF214D; /* RED_COLOR */
  border-radius: 50%;
  cursor: pointer;
}

